<h1>{{title}}</h1>
<div id="dvLogin">
    <h2>Login</h2>
    {{#if PostRes}}
        {{{PostRes}}}
    {{/if}}
    <p></p>
    {{> banner extra="the extra on &lt;banner&gt; from hbs login page"
                moredata="Something more" }}
    <form action="/api/users/login" method="post">
        <label for="userid">Username/email</label>
        <input id="userid" type="text" name="userid"/>
        <label for="password">Password</label>
        <input id="password" type="password" name="password"/>
        <input type="submit" value="Login"/>
    </form>
  </div>